
.btn-accion {
    margin-bottom: 5px;
}

.navbar {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.tituloPrincipal {
    margin: 30px;
    text-align: center;
}

.btn-create {
    margin-bottom: 20px;
}
.imagen-tarjeta {
    width: 200px;
    height: 190px;
}
